<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExploringAppConfig.Properties.MoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ExploringAppConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="Raphael Kuttruf"/>
    <add key="UserID" value="001305"/>
  </appSettings>
  <userSettings>
    <ExploringAppConfig.Properties.MoreSettings>
      <setting name="I_Want_More" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="More" serializeAs="String">
        <value>More cookies</value>
      </setting>
    </ExploringAppConfig.Properties.MoreSettings>
    <ExploringAppConfig.Properties.Settings>
      <setting name="Test_ID" serializeAs="String">
        <value>123</value>
      </setting>
    </ExploringAppConfig.Properties.Settings>
  </userSettings>
</configuration>